[2017-02-28 23:38] Arfius opened #331 "can modify query in Middleware"
Hi,
i'm trying to add some parameter to the url to refine my query.
For Example,in client, Im calling the url
`/members?query={"country":"Italy"}
`
and
I would to add in the preMiddleware server-side an exception like
`/members?query={$and:[{"country":"Italy"},{"city":"Milan"}]}`

in my preMiddleware, I replace the req.url with new one, but it does not work.
The server perfoms always the fist quer

[2017-03-01 21:50] Zertz commented on #331
You can use [`contextFilter`](https://florianholzapfel.github.io/express-restify-mongoose/#contextfilter)

[code]

Let me know if that works for you!

[2017-03-01 21:51] #330 closed

[2017-03-03 01:19] Arfius commented on #331
it Works !
Thanks

[2017-03-03 01:36] Zertz commented on #331
Good to hear! :)

This particular object is sort of private at the moment, so it will probably be renamed when we decide to expose it, just keep an eye on the changelog in the next major version.

[2017-03-03 01:36] #331 closed

[2017-03-03 07:59] Arfius commented on #331
I've a question ( I didn't try the code),
for instance,  if I have a `model Detail `that stores a `objectId` of the` model Order`
and I populate the `Detail` via `GET` ,` i.e. ../detail?populate=order`,
how I can run ( if it is possible) a mixed query for both models?

[2017-03-06 09:41] anhoev commented on #294
did you guys fix it ??

[2017-03-12 04:23] gDelgado14 commented on #287
Caveat: I just started looking into this lib today but by the looks of it, yes you can do aggregates.

if, for example you do `GET http://localhost/api/v1/Customer/__SOME__ID__` then the [getItem](https://github.com/florianholzapfel/express-restify-mongoose/blob/master/src/operations.js#L91) middleware is invoked, which checks to see if you specified a [contextFilter](https://florianholzapfel.gith

[2017-03-12 04:49] gDelgado14 commented on #294
@anhoev did you try seeing if things are working for you now? I'm asking b/c I have similar schemas and will run into the same problem as u.

[2017-03-12 05:49] gDelgado14 commented on #287
Actually looks like you can't perform aggregates.

contextFilter is expected to return a `filteredContext` with a `findOne` method. See **[here](https://github.com/florianholzapfel/express-restify-mongoose/blob/master/src/operations.js#L9)**

[2017-03-16 15:53] jpravetz commented on #329
Update. The [koa2 work is done](https://github.com/jpravetz/express-restify-mongoose/tree/issue-329), unit and integration tests are working. All that remains is to verify the work in a real project, which is delayed somewhat by other Real World interruptions, plus koa routing issues that have caused me to waffle between using [koa-router](https://github.com/alexmingoia/koa-router) and [koa-better

[2017-03-17 03:18] muliyul opened #333 "Allow deep linking of nested schemas"
This is a feature suggestion.
Assume this schema
[code]

Will serve `/user/:id` but what I would fond is to serve also `/user/:id/posts/:id`.

So my suggestion is basically to allow exposing nested schemas. Maybe an options flag?

Edit: the flag could be either a boolean (one level deep) or a specified number.
Edit 2: maybe include a `linkedSchemas` option to select which schemas to be linked. exa

[2017-03-20 18:20] dvlsg opened #334 "postProcess next() for count throws unhandled rejection"
Node: 7.6.0
ERM: 4.1.3
Mongoose: 4.9.1
Express: 4.15.2

Issue (possibly): Using a restify default postProcess which calls `next()` results in an unhandled rejection when loading a `GET /count` endpoint.

Was unsure if this was intended behavior / that you shouldn't actually call `next()` in postProcess? I know it's intended as a sort of spin-off process for logging and such (according to docs, any

[2017-04-15 02:13] SwenChan commented on #329
Hey @jpravetz  thanks for your work, I'm looking for this package now, and how can I use your version for in my koa2 project?Because I can't find your package in npm = ) .

[2017-04-15 04:30] jpravetz commented on #329
It's not in npm yet.
It's blocked on a dependent fix to koa-router
<https://github.com/alexmingoia/koa-router/pull/345> that has not been
merged yet,
then an integration (PR) to b-gran's branch
<https://github.com/b-gran/express-restify-mongoose/pull/1>.
In the meantime, you'd have to directly use my fork/branch. The unit tests
were all running, and it looked to be working in a functional system.

[2017-05-03 17:23] dejies opened #336 "Error: collection name must be a String"
Hi,
i am using express-restify-mongoose to restify my mongoose model.
i am getting the following error : Error: collection name must be a String
please see the details below.

node version :4.2.5
app.js
=====

const express = require('express')
const bodyParser = require('body-parser')
const methodOverride = require('method-override')
const mongoose = require('mongoose')
mongoose.connect('mongodb:

[2017-05-28 00:53] sgilroy opened #337 "prepareOutput middleware does not call next"
When experess-restify-mongoose is used and the restify server has any middleware (via `server.use()`) or a listener attached to the `after` event (http://mcavage.me/node-restify/#request-api), the middleware and listener will not get called. To fix this, the `next()` callback should be called at the end of the `prepareOutput` middleware.

Workaround: specify the `postProcess` option, as in `postPr

[2017-06-11 18:44] Zertz commented on #337
Which restify version are you using?

[2017-06-11 18:47] Zertz commented on #287
You can perform any async operation (including aggregates) using the various hooks, but the lib itself does not have built-in support.

[code]

[2017-06-11 18:58] Zertz commented on #334
Yeah, since the response has already been sent at that point, this is the expected behavior. However, you made me notice `next` shouldn't be mentioned in the docs or even passed to `postProcess`.

[2017-06-11 19:02] Zertz commented on #336
There's a slight mistake in your code, the parenthesis should close after `MovieSchema` otherwide the third argument is being handled as if it was the collection's name.

[code]

[2017-06-11 19:02] #336 closed

[2017-06-11 19:05] Zertz commented on #329
I wish I could help but time is a bit limited and I don't have any knowledge of koa, if someone is willing to wrap this up I'd be happy to accept a PR!

[2017-06-11 19:16] Zertz commented on #333
The easiest way to achieve that it to instead use [`contextFilter`](https://florianholzapfel.github.io/express-restify-mongoose/#contextfilter) to filter posts by user. The most notable issue with deep routes is that it'll eventually lead to n-depth routes, which is a problem already solved with query parameters and the various built-in hooks.

Let me know if that helps!

[2017-06-11 19:16] #333 closed

[2017-06-23 16:23] slokmanex opened #342 "url query does not reflect mongoose query --- wrong result"
Hi,
I set up the rest-api every thing works fine.  But, I was supersized that the api was returning  zero counts for my collection. When enabled mongoose debug I noticed that mongoose is calling different collection ( appended "s" to collection name), this does not happen when the collection name ends with a number.

 When I use **: http://localhost:3000/api/v1/test/count**
[nodemon] starting `nod

[2017-07-02 19:45] Zertz commented on #342
mongoose pluralizes collection names, it can be disabled by specifying a collection name:

`const Model = mongoose.model('Model', schema, collectionName);`

[2017-07-02 19:45] #342 closed

[2017-08-22 07:28] bellomimarc opened #343 "versionKey"
Hi,
the versionKey of my schema does not update.
This is my schema
`new mongoose.Schema(
    {
        city: { type: String, required: true },
        timezone: { type: String, required: true },
    }
);`
I create an order through "http post" and then update it through "http put" but the field __v is equal to zero.

How can i configure express-restify-mongoose to update versionKey?

Thanks a lot,

[2017-10-07 17:51] #294 closed

[2017-10-13 12:01] i4got10 commented on #276
Any progress here?

[2017-10-13 12:21] Zertz commented on #276
Due to some (of my own!) earlier development decisions, it's a simple issue with complicated ramifications 😞

Removing support for private/protected nested fields would make this issue a lot easier to fix. Honestly I think that would be a good thing, but it puts some of our users in a bad spot because their schema design might require it.

[2017-10-17 13:00] nickvoronin opened #350 "Updating multiple resources"
Is there a way to patch multiple entries with a single api call?

[2017-10-19 12:07] Zertz commented on #350
It is not implemented, unfortunately. I remember looking at it some time back and there were some issues surrounding it but nothing insurmountable I would think.

[2017-10-19 12:09] Zertz commented on #325
@peek4y Would you like to PR your changes?

[2017-10-20 12:29] peek4y commented on #325
@Zertz  Hey Zertz, absolutely. It's been a while I made any changes to my fork, will update and send out a PR soon.

[2017-10-20 13:50] peek4y commented on #325
@Zertz https://github.com/florianholzapfel/express-restify-mongoose/pull/351 here it is!

[2017-10-24 05:22] bitstrider opened #353 "Feature request: add 'select' option for serve function"
Hey it would be great to utilize [`Query#select`](http://mongoosejs.com/docs/api.html#query_Query-select) like such:

[code]

PR worthy?

[2017-10-27 11:50] duard commented on #232
when I put the plural setting, my server show this error :

[code]

restify.serve(router, mongoose.model('ibge', ibge,{plural: false}));

[2017-10-27 16:30] duard opened #354 "Problem with COUNT = 0 in Angular 2 / 4"
that is my return in POSTMAN, it show count: 27 and its correct

![postman](https://user-images.githubusercontent.com/36894/32114716-ebeecd54-bb22-11e7-861b-70a7999476be.png)

But in Angular 4 count is 0
[code]
that is my method in my service :
[code]
and that is my method in my component  :
[code]

[2017-10-27 17:13] duard commented on #354
The problem as on my API. I just expose that value and it works
[code]

[2017-10-27 17:13] #354 closed

[2017-10-27 19:43] Zertz commented on #353
Duplicate of #299 but definitely something worth looking into! I think `select` gets even more interesting if you can set it at the request level, would it work for you at a simple option?

[2017-10-27 19:49] Zertz commented on #232
There's a small mistake in your code:

[code]

[2017-10-28 18:34] #327 closed

[2017-10-28 19:11] #285 closed

[2017-10-28 19:11] #353 closed

[2017-10-28 19:12] #299 closed

[2017-10-28 19:20] #334 closed

[2017-10-28 19:27] #337 closed

[2017-10-28 19:28] #213 closed

[2017-10-28 19:35] #324 closed

[2017-11-27 08:39] abhishekvaid opened #368 "POST/PUT not working with _id of String type"
I'm trying to run canonical example given for this repo with a simple change that _id is of `type: String`. Here's the code I'm trying to run.

[code]

- The server starts okay.
- GET route seems to be working fine: `GET localhost:8000/api/v1/Customer` is working fine.
- I'm unable to make a PUT/POST request. I don't know what's missing, but trying various options gives me various errors. I'm also

[2017-11-29 18:41] Zertz commented on #368
What version are you using?

[2017-11-30 07:10] abhishekvaid commented on #368
4.13.5

[2017-11-30 09:12] abhishekvaid opened #369 "POST with multiple documents returns on first error"
POST endpoint breaks on first error. Expected behavior with POST where multiple documents are sent is receive a payload which tells us status of each document. An error or success w.r.t each document which is posted to a resource.

[2017-12-01 14:15] abhishekvaid opened #370 "How to do bulk or single Upsert"
It is completely undocumented and I'm not able to find answer the question: How to upsert in bulk or single mode. In other words, is hitting the POST with multiple documents (since this plugin only exposes POST with list-like payload) a good idea or hitting each individual document in a list with a PUT ? I've tried various things but none of it seems to be working. **If someone can give a one line

[2017-12-06 11:40] abhishekvaid opened #371 "virtuals are not working with GET route."
I have a simple model with a virtual field. I've also declared
`
clusterSchema.virtual('url').get( function () {
    return this.vertical ;
});
`
AND
`
{
        timestamps: { createdAt: 'created_at', updatedAt: 'updated_at' },
        toObject: { virtuals: true },
        toJSON: { virtuals: true },
    }`
on the schema. However, when I do a get, I don't see virtual field set. When I manually cal

[2017-12-10 14:49] Zertz commented on #371
You can try turning off the `lean` option,

[code]

[2017-12-12 12:36] abhishekvaid opened #372 "A specific query isn't working. Tried on shell and it's working."
- I have a collection which have document like these:

`{
    "_id" : ObjectId("599c05310252805c00f4f03d"),
    "facets" : [
        {
            "id" : "culture",
            "values" : [
                "hindu"
            ]
        },
        {
            "id" : "occasion",
            "values" : [
                "pre_wedding_shoot"
            ]
        },
        {
            "id" : "phot

[2018-01-02 12:31] abhishekvaid opened #373 "Upsert resource isn't working"
The routes published by this plugin, either support post [resource doesn't exist] or put/patch [resource exists]. Because of this, An additional GET request has to be made before deciding on either post or put/patch. I'm sure this is a bug of sorts.

I've also already highlighted this is my previous postings.

[2018-01-09 19:13] pedroraft commented on #191
Updating @ravishivt file with defaults.
Still could use some improvements.

Can i PR this?
[code]

[2018-01-24 20:01] Zertz commented on #191
@pedroraft Sure!

[2018-03-15 16:16] karthikkp opened #375 "How do I override methods?"
How do I override methods or add additional methods ? How do I have the routes generated by the module in a seperate routes directory? Because the module automatically generates "api/v1" and putting it in a seperate folder will require me to do "app.use('', someRoutes)"; if i do this I cant handle other resources i might need.

[2018-03-20 17:22] karthikkp opened #376 "Validation errors return status code 400 where as it should be 422"

[2018-03-20 17:56] Zertz commented on #376
Good point. I can probably roll out this change in #358

[2018-03-20 18:00] #191 closed

[2018-03-20 18:21] karthikkp commented on #376
I just saw that even CastError returns 400.

[2018-04-08 07:33] karthikkp opened #377 "Is there a way to restrict access to an entire resource?"

[2018-04-22 14:10] Zertz commented on #377
You could use `preMiddleware`,

[code]

[2018-05-12 10:34] florianbepunkt opened #378 "[BUG] Population breaks when specify array of multiple objects (necessary for nested population)"
When using population the module has a bug regarding array of population objects. I have four schemas: games, characters, locations and events. The schema itself does not really matter. When I specify an array of strings for fields to be populated, it works.

**WORKING**
[code]
If you want to do a nested populate you would need to specify a path. The following example also works (also the nested e

[2018-05-13 10:04] florianbepunkt commented on #378
Sorry, not sure if problem is related to this library… when manually constructing a query string it works as exspected. If someone else stumbles across the same problem:

I leave this open in case maintainer wants to check parsing/escaping of query strings.

**While this is not working:**
[code]

**This is working…**
[code]

[2018-05-13 14:49] Zertz commented on #378
Did you verify axios generates the same URL when you use the `params` option?

[2018-05-13 14:50] #377 closed

[2018-05-13 23:12] florianbepunkt commented on #378
this is what winston logs… seems a bit odd since I would guess I am not the first one to pass an array via axios, but the query string indeed seems off.

`GET /api/v1/game/5ae1a32da951aa0681d39570?populate[]=%7B%22path%22:%22characters%22%7D&populate[]=%7B%22path%22:%22events%22%7D&populate[]=%7B%22path%22:%22locations%22,%22populate%22:[%7B%22path%22:%22events%22%7D]%7D&populate[]=%7B%22path%22:%

[2018-05-13 23:39] Zertz commented on #378
Passing arrays in query strings isn't standardized and axios seems to be generating a different format.

What I usually do is build a plain old JavaScript object and then `JSON.stringify` it into the query string.

[2018-05-22 03:44] johnmastri opened #379 "Populating an Array of ObjectIds Not Working"
First off, great library - thank you.

I have defined two schemas:

[code]

when I hit `api/v1/User?populate=routines` I'm ending up with an empty array for routines. When I leave off `?populate=routines`, it returns the ObjectIds as expected in the array. Is this possible with the current library?

[2018-06-02 11:54] manishrw commented on #368
I am facing the same issue. Any plan on fixes?

[2018-06-05 02:30] dwoodard commented on #379
Populate is case sensitive with regards to your example routine. Ensure routines is lowercased in your DB and in your UserSchema routines ref.

This:
`routines: { type: [Schema.ObjectId], ref:"routine" },`
vs
`routines: { type: [Schema.ObjectId], ref:"Routine" },`

[2018-06-05 02:42] dwoodard opened #380 "Document 'Invoice' model/schema in Populate documentation"
The _populate_ documentation lacks the necessary model/schema to the respective populate queries. Below would be a good example to add.

[code]

[2018-06-05 03:14] dwoodard commented on #379
https://github.com/florianholzapfel/express-restify-mongoose/pull/381

[2018-06-05 03:14] dwoodard commented on #380
#381

[2018-06-06 08:38] grochadc opened #382 "An apparently valid query returns invalid_json_query"
I have used this query on mongo shell:
`{“_id”: {“$gt”: ObjectId(‘5b...’)}}`

and it returns the expected documents. But when I try mongoose by using `?query=` I get `invalid_json_query`

What am I doing wrong?

[2018-06-09 23:20] Zertz commented on #382
`ObjectId` is not JSON serializable, you must take it out of the query:

[code]

[2018-06-09 23:26] Zertz commented on #379
Sounds right, thanks for the help @dwoodard !

[2018-06-09 23:33] Zertz commented on #368
I am fairly sure this is related to #326 which is fixed in #358

That release is extremely close to being ready, it's just a matter of updating docs. I will try to take some time within the next few days to wrap it up.

[2018-06-10 16:49] #326 closed

[2018-06-10 16:49] #368 closed

[2018-06-10 17:06] #380 closed

[2018-06-10 17:06] #382 closed

[2018-06-10 17:14] #329 closed

[2018-06-10 17:14] #287 closed

[2018-07-11 17:41] elgambet opened #383 "Version 5.0.0 breaks search compatibility (working on 4.3.0)"
### Expected Behavior

When searching for documents like this `http://localhost:3000/api/v1/Customer?query={"name":"~te"}` should return a set of filtered results.

### Current Behavior

Returns an empty result set

### Steps to Reproduce

1. Use the example code in the [docs](https://florianholzapfel.github.io/express-restify-mongoose/)

[code]

2. Insert two documents into '_Customer_' with diff

[2018-07-11 18:44] Zertz commented on #383
That was intentionally removed by #357, you can use this instead:

[code]

[2018-07-14 02:43] divinzer opened #384 "Can I use populate with match?"
http://localhost:9000/api/v1/posts/?populate={"path":"author", "match": {"username":"gunforce"}}

I want result only {"username": "gunforce" }
But this parameters show results.

Is there any other way?

Thank you.

[2018-07-17 11:48] mathurs commented on #373
Isn't it possible to avoid that based on whether the object posesses an _id ?

[2018-07-31 12:42] MidnightP opened #385 "Option "generateMethods" to generate endpoint fro specific methods only"
We are relying heavily on express-restify-mongoose. Great module!

For some endpoints of our micro-services we need to exclude specific methods, like allow GET's but not PUT, DELETE etc.

Would be amazing to have an option like "generateMethods" in the ```restify.serve``` function. The option will then expect an array of methods to be generated, which by default will be something like:

[code]

I'

[2018-07-31 12:52] Zertz commented on #385
Glad it's working for you! :)

I think [preMiddleware](https://florianholzapfel.github.io/express-restify-mongoose/#premiddleware) should cover that use case,

[code]

[2018-07-31 12:53] Zertz commented on #384
It should work, are you getting an error?

[2018-07-31 18:48] MidnightP commented on #385
Yes, we're doing something similar now:

[code]
Doing this differently for specific models takes some more effort, and
especially when doing it over and over again in different ways in different
projects, it would be great setting it as an option. I think it's a common
use case anyway.
Also, the problem for me is that the routes are created in Express. They
are now only blocked inside the middlewa

[2018-07-31 18:49] MidnightP commented on #385
Yes, we're doing something similar now:

`
_.each @mongoose.connection.models, (Model) =>
name = Model.collection.name

debug "Setting up rest endpoints for collection #{name}"

resitfy.serve @app, Model,
name:       name

preCreate: (req, res, next) =>
return req.res.status(400).json { message: "POST not available" }

preUpdate: (req, res, next) =>
return req.res.status(400).json { message: "PUT/

[2018-08-18 10:53] florianbepunkt opened #387 "Using patch to update field with alias is not working properly"
Not really sure if this is a bug or by design... if you declare an alias for a field. And then try to update the field (not the alias) via PATCH, the update does not go through and no error message or warning is thrown.

For example consider this schema

[code]

If you want to update startDate field via PATCH method it returns a 200 status code but the update is no applied. Furthermore if you read

[2018-09-14 09:42] MaxVinogradov commented on #187
@Zertz have you any success with this issue? I'm going to use this library, and seems will deal with coordinates.

[2018-09-25 23:31] bamidei commented on #337
I have just reviewed the current state of this issue and it still does exist even with the latest (v5) code base.  To answer the previous question, we are currently using restify v4.0.3.

Please consider merging the above-cited PR to resolve the issue.

[2018-10-19 16:27] florianbepunkt opened #389 "Populate array on create / Create referenced child docs"
Is it possible to create populated documents?

[code]

When I pass an object via post like

[code]

The partner document is created but no contact document is created.

[2018-10-20 13:17] #389 closed

[2018-12-11 15:43] wottpal opened #390 "collection.count is deprecated"
I get the following warning when doing a `count` get request on a model:

[code]

[2018-12-11 17:03] wottpal commented on #390
Another warning:

[code]

[2018-12-12 11:14] wottpal commented on #390
I guess it's because I'm on `mongoose@^5.3.14` and the required version is `mongoose@^4.0.0` 🤦‍♂️ My fault.

@florianholzapfel But will this repository maintained in the future, is it save to start building an application with it right now? Despite a bunch of depreciation warnings everything seems to work fine right now.

Grüße aus Jena

[2018-12-12 20:10] MidnightP commented on #390
+1

@wottpal me and my colleagues extensively rely on this library -- at least 12 services and counting. We will seriously consider systematic contribution when required from our side.

I didn't see signs of life here in a while and collaboration is very much preferred over forking...

[2019-01-09 13:07] pimvanderheijden opened #391 "Contribute to this repository"
Hello @florianholzapfel and anyone reading this.

We (ViriCiti) would love to contribute to this project before serious compatibility issues with Mongoose arise.

Any idea about the future of this repository?

Can we be part of it?

Collaboration is highly much preferred over forking...

[2019-01-09 13:20] Zertz commented on #391
Hello, thanks for the support! I'm currently at work but I'll invest some time by the weekend.

Do you have any particular issues in mind?

[2019-01-09 13:32] MidnightP commented on #391
this one for example: https://github.com/florianholzapfel/express-restify-mongoose/pull/386

Another one is:

It seems that either 1) there is something wrong with Mongoose v5 `Model.pre("save", () => {})` hooks or 2) we need better documentation / explanation of the relation between Mongoose hooks and the "pre" and "post" hooks of this project.

[2019-03-28 17:45] hereischris commented on #391
@Zertz @MidnightP hi there!
any update on the status of this project? we would also be interested in reviving it.

[2019-03-28 20:04] MidnightP commented on #391
Not that I know of. We're definitely still interested in a revival.

What kind of features / changes were you thinking about?

[2019-03-29 08:55] hereischris commented on #391
First of all, mongoose 5 support.

[2019-03-30 16:04] MidnightP commented on #391
sound great

we need help from @Zertz to acheive this

[2019-03-30 16:19] Zertz commented on #391
Hey folks, thanks for your interest!

PR's are welcome! Try to keep changes small and non breaking and I'll be able to merge and publish swiftly.

I can give write access to the repo if you're interested in contributing.

[2019-04-03 14:27] MidnightP commented on #391
Hey Zertz! Thanks for the reply

I would love to contribute, for example by finishing this PR: https://github.com/florianholzapfel/express-restify-mongoose/pull/386
Do you have any idea what's wrong here?

Or allowing upsert on PUT is also very interesting for us: https://github.com/florianholzapfel/express-restify-mongoose/pull/392

Mongoose 5 we also find important but I'm not sure yet about the

[2019-04-10 15:15] Zertz commented on #391
I think we can land those two PR's in the current version and then release v6 with the only breaking change being the Mongoose upgrade.

[2019-05-01 23:59] aderhm commented on #118
Hi.. Could you offer more explanation; what did you do to fix that err, I got the same one and I am a beginner so can not understand what's wrong!!

Thank You!!!

[2019-05-02 14:22] Zertz commented on #118
The exact implementation will vary a bit depending on the library you're using to make http requests but the idea is to set the correct content type:

[code]

[2019-05-20 21:21] ctaity opened #393 "Multi Tenant"
Hi, this lib supports some multi tenant strategy? Filters or Database connection?

[2019-06-05 14:56] elgambet opened #394 "Is this proyect still active?"
This is not an **error** but a **question**. I see that the last commit is from a year ago.

I want to know if this project is being maintained or if it has been deprecated.

Thanks for the great work!

[2019-06-25 10:52] ctot-nondef commented on #394
I second that question...

[2019-06-26 10:23] florianholzapfel commented on #394
not really, at the moment nobody is working on it. but you are welcome to work on it

[2019-06-26 10:23] #394 closed

[2019-07-03 11:00] wottpal commented on #391
Sounds great that this project is becoming alive again :) Mongoose 5 support would be so great.

[2019-08-19 13:33] mickey58github opened #395 "Usage Question: How to use express-restify-mongoose with other package mpath for Mongoose"
I have put a question about usage of this great package in combination with another Mongoose add-on package, MPath, which is a  schema extension to manage materialized tree structures.

Not having seen this Issues section including questions on github, I raised my question on Stackoverflow (https://stackoverflow.com/questions/57553213/can-mongoose-materialized-path-and-mongoose-restify-be-used-tog

[2019-11-14 16:21] wizardnet972 opened #396 "Why to use querystring in put/post request?"
@florianholzapfel
Right now, [as I can see](https://github.com/florianholzapfel/express-restify-mongoose/blob/master/src/middleware/prepareQuery.js#L82) put are supporting in query params in the requests.

The problem is the objects can be very complex and weight object, and querystring has limit. So the best thing to do is send data in put over body.

I think there should be a possibility to send

[2019-11-16 05:40] wizardnet972 commented on #72
@Quixomatic yes, admin for example. I want to provide UI for the user to edit and save back to database. it doesn't matter what the change is. the admin-user change something in the object and I want to save as it is to db.
the admin-user is special user and understand how the system works.
@Zertz I think that upsert should solve this problem.
if you want I can send PR for this.
I use this option

[2019-11-16 05:57] wizardnet972 commented on #72
In mongoose there is option to upsert bulk data, I think this library should provide a way to support this option, and to solve the problems to achieve the goal.

[2019-11-17 08:33] wizardnet972 opened #399 "How to get total items from a query/limit?"
I want to use query option with `totalCountHeader`, but I get total of all items in Customer not total that belong to my query.

I can see two calls to mongoose:

[code]
GET /Customer?query={"name":"Bob"}&limit=30

[2019-11-17 08:39] wizardnet972 commented on #399
Sorry. I use this wrong.
**bad:**
http://localhost:8080/api/v1/activity?somefield=... &limit=30&skip=0
**good:**
http://localhost:8080/api/v1/activity?query={"somefield":"...." }&limit=30&skip=0

works fine :)

[2019-11-17 08:39] #399 closed

[2019-11-17 14:20] wizardnet972 commented on #396
I can see that patch is the new put. so in patch I can send with body, so I close this issue

[2019-11-17 14:20] #396 closed

[2019-11-17 14:21] wizardnet972 commented on #370
The library is support upsert now in the options :)

[2019-11-18 13:11] StoyanStAtanasov opened #400 "No typescript definition file in 5.1.0"
I get an error in my typescript project.

I have the latest package at this time 5.1.0 but there is no type definition file in
 my `node_modules/express-restify-mongoose`.
Also `npm install -D @types/express-restify-mongoose does` not work.

I see the `index.d.ts` file in the code directory of this repository and if I add it manually to the `node_modules/express-restify-mongoose` folder then every

[2019-12-12 11:20] StoyanStAtanasov commented on #72
What about bulk queries. I have a use case where I cannot use populate because I am joining on non _id field, so I need a list of queries to be resolved in one call rather in hundreds of calls.

[2019-12-12 15:05] MidnightP commented on #72
I hear GraphQL

Op do 12 dec. 2019 om 12:20 schreef StoyanStAtanasov <
notifications@github.com>:

[2019-12-12 15:24] StoyanStAtanasov commented on #72
I actually came from GraphQL to this project because GraphQL is complicated for small teams and projects. I needed something simple. I want to jump back to GraphQL when the dev experience is better.

[2019-12-12 15:39] StoyanStAtanasov commented on #391
What is the status? Is this project alive or what? Came here after doing a project with GraphQL - too complex. Wanted something simple. If this project is dead or dying, any alternatives other than GraphQL?

[2019-12-16 02:05] 95deepan opened #403 "Can't use $toObjectId in query"
# Query:

`http://baseurl/api/v1/roles?query={"user": { "$toObjectId":"5decc6d2687f6a419c9ee2bw" }}`

# Response:

[code]

Did I miss anything here?

[2020-01-25 00:23] earmbrust opened #404 "Denial of service vulnerability"
$ npm audit

                       === npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  High            Denial of Service

  Package         mongodb

  Patched in      >=3.1.13

  Dependency of   express-restify-mongoose

  Path

[2020-01-28 12:42] florianholzapfel commented on #404
1da83bff08c9bb88c849dc1d5bb35dd2a754299d

[2020-02-03 08:45] webberwang commented on #325
The dynamic model only supports modifying the current model. Is it possible to do something like so...

[code]

[2020-03-06 15:19] Pierre-Demessence commented on #400
Same issue with version 6.0.0

[2020-03-19 17:35] 95deepan commented on #290
It worked for me this way:

api/v1/banners?populate=[{"path":"products","populate": [{ "path":"colors" }] }]

Hope it helps 😃

[2020-04-15 02:50] webberwang opened #407 "Compile to dist directory before serving to NPM"
Currently the `package.json` uses the `main` as `./src/express-restify-mongoose`. Subsequent scripts make references to `node_modules` but module resolution for webpack does not resolve to `express-restify-mongoose/node_modules`.

As a library, it should be compiled to dist folder before serving

[2020-04-16 18:37] #404 closed

[2020-04-16 18:37] Zertz commented on #407
PR welcome!

[2020-05-28 06:49] wizardnet972 opened #408 "Why lean is bad for performance?"
Why lean is bad for performance?

In the [express-restify-mongoose docs](https://florianholzapfel.github.io/express-restify-mongoose/#lean):

Whether or not mongoose should use .lean() to convert results to plain old JavaScript objects. This is bad for performance, but allows returning virtuals, getters and setters.

But in [mongoose docs](https://mongoosejs.com/docs/tutorials/lean.html):

Faster

[2020-05-28 12:59] Zertz commented on #408
I agree, the wording on our end is confusing here! We meant to say setting this option to `false` is bad for performance. Would you mind submitting a PR to the docs?

[2020-06-06 07:00] botv commented on #400
#409 fixes this issue, the types definition file was not specified in `package.json`.

[2020-06-07 19:28] #400 closed

[2020-07-17 12:40] kswedberg opened #412 "conflicting mongoose versions in package.json"
The package.json file has conflicting mongoose versions listed in `dependencies` (`"^5.8.10"`)and `peerDependencies` (`"^4.0.0"`). This is resulting in the following error:

[code]

History:
* Mongoose was moved from `dependencies` to `peerDependencies` back in October 2015 (7910bc8fb3503c32306c7d0c09b67128956a1373), and that line hasn't been changed since then.
* It was then added again to `depen

[2020-07-17 14:19] Zertz commented on #412
I feel like it should only be a peer dependency but perhaps @florianholzapfel can chime in?

[2020-07-17 14:20] florianholzapfel commented on #412
I also feel like `peerDependencies` is the way to go

[2020-07-17 14:22] kswedberg commented on #412
That's what I was thinking, too. @florianholzapfel , it's a pretty quick fix. Do you want to do it, or would you like me to submit a PR?

[2020-07-17 14:24] florianholzapfel commented on #412
i will provide a fix. thank you for raising this issue!

[2020-07-17 14:25] kswedberg commented on #412
You're welcome! And thanks for the quick reply.

[2020-07-19 13:32] Zertz commented on #395
You've probably figured it by now but here's the answer nonetheless! https://stackoverflow.com/a/62980951/1779688

[2020-07-19 13:32] #395 closed

[2020-07-20 12:13] #412 closed

[2020-08-13 11:06] wizardnet972 opened #413 "How to prevent create/update for specific model?"
Is it possible to prevent create/update for specific model? I just want to read from the model.

[2020-08-13 11:17] florianholzapfel commented on #413
You could do this using the _pre*_ middlewares.

[2020-08-13 11:17] #413 closed

[2020-10-11 19:07] zb140 opened #414 "TypeScript definitions file not in NPM package"
For some reason, it appears that the TypeScript definitions file `index.d.ts` is not included in the published NPM package.  I verified this for version 6.1.2 and 6.1.1 by manually downloading the tarball from `npmjs.org`.  Manually downloading the file from github and placing it in the correct location in `node_modules` works as expected.

[2020-10-16 12:12] Zertz commented on #414
Indeed, `index.d.ts` is not included in the `files` array in [package.json](https://github.com/florianholzapfel/express-restify-mongoose/blob/master/package.json#L80)

Can you submit a PR?

[2020-10-17 01:37] zb140 commented on #414
Sure, I won't be able to get to it tonight but I'll be happy to do it tomorrow.

[2020-11-06 14:51] Khushboo-Mulani opened #416 "Unable to see aggregation query result from contextFilter in outputFn"
Hi @florianholzapfel,

Although aggregation query executes and gives result in contextFilter, I am unable to access the same result in outputFn(req.erm.result). Here is the code snippet of contextFilter function:

	contextFilter: function (model, req, next) {
		if (req.aggregationQuery) {
		        model.aggregate(req.aggregationQuery).then((result) => {
			    req.erm.result = result;   //here th

[2020-11-06 18:26] Zertz commented on #416
Just to be sure, can you verify `outputFn` is called *after* your aggregation query sets its result?

[2020-11-08 06:21] Khushboo-Mulani commented on #416
@Zertz  yes, outputFn is being called after aggregation query sets its result, but the result there is just of simple model.find query

[2020-11-08 06:23] Khushboo-Mulani commented on #416
@Zertz Tried setting the result as `req.erm.result = result;` manually too, but it doesn't work that way

[2020-11-09 16:40] Khushboo-Mulani commented on #416
Hi @Zertz,
Anything I should be trying to access the aggregation result in outputFn, without having to explicitly set the result?

[2020-11-09 16:51] Zertz commented on #416
The result you are setting in `contextFilter` gets overriden [shortly after](https://github.com/florianholzapfel/express-restify-mongoose/blob/master/src/operations.js#L35) when the query runs.

I'm not sure exactly what you're trying to achieve but this should work:

[code]

[2020-11-10 10:02] Khushboo-Mulani commented on #416
@zerts the find query shouldn't run at all in the first place when aggregate query is present and executed. How can I stop that from happening?

In my case, for a request, first aggregation query is executed, the result of which we are assigning to "req.erm.aggregationResult", then find query also executes for the same request.

Is model we are passing to callback in "next(model)" executing the fi

[2020-11-10 14:14] Zertz commented on #416
Perhaps [this](https://github.com/florianholzapfel/express-restify-mongoose/issues/287#issuecomment-307648611) can help?

[2020-11-16 16:33] OliverFischer opened #418 "Tests are broken when running mongo 4.4 and node 14.15.0 ?!"
Hi all,

simple question : I tried to run the tests against a mongo 4.4 with mongoose 5.9.24. I experience some strange test fails, mostly string comparisons like undefined === 'undefined' false, but also mongo errors telling me that `errors.errMsg` does not exist any more as well as the test case `POST Invoice 400` in create.js where the body contains a json which is different concerning the retu

[2020-11-16 21:17] OliverFischer commented on #325
@peek4y Hey peek4y it is a long time since you contributed this feature, but in absence of any documentation concerning dynamic models, here is my understanding of the functionality:

I can hook into the resolving of a model which will be placed in the req.erm object by providing a modelFactory in the options object when i initially call restify.serve. If the object `modelFactory` containing a fun

[2020-11-16 21:31] OliverFischer opened #419 "Dynamic model Enhancement for mutli-tenancy"
To provide dynamic resolving of custom models to enable multi-tenancy applications to work with different models , erm has a feature to resolve a dynamic model by providing a `modelFactory#getModel` method. This method is implemented as a middleware in this way in express-restify-mongoose.js:
[code]
I like to resolve a custom model by inspecting the informations in the request headers and url when

[2020-11-17 02:52] Zertz commented on #418
It's probably not you! These tests have always been perhaps a bit too strict. Those error messages tend to change when MongoDB is upgraded so they'll break unexpectedly.

When running tests locally, don't worry about these failures. Once a PR is opened and they run on CI, they *should* pass.

[2020-11-17 02:54] Zertz commented on #419
I'm not familiar with this bit of code but I would tend to agree that passing `req` would be useful.

Feel free to open a PR!

[2020-11-17 13:33] OliverFischer commented on #418
ok, thanks for the info. I modified the failing tests to match the expectations and only skipped the invoice test.

[2020-11-17 13:33] #418 closed

[2020-11-18 20:01] OliverFischer opened #421 "Configurable mongo address"
Hi,

do you think it is possible to take the mongo url either from the preconfigured string or from an environment variable. Change would be simple `mongoose.connect(process.env.MONGODB_ADDRESS || 'mongodb://localhost/database')`. It would enable a developer to use a connection containing url credentials or connecting to a replicaSet on a cluster. If no env var is provided, it can simply fail back

[2020-11-19 04:12] Zertz commented on #421
Do you mean when running tests?

[2020-11-20 11:01] OliverFischer commented on #421
Yes, perhaps it is not the normal development flow, but we ran our tests against a "downsized" version of our kubernetes cluster as a set of containers running with docker-compose. So components like mongodb running in these containers are at least running with "mongodb://user:pass@localhost/somedb?authSource=admin". I do not know if this is a rare case, but for now, i am always modifying the url

[2020-11-20 12:35] Zertz commented on #421
From a quick search, `MONGO_URL` seems to be a somewhat common name for this.

You can go ahead and create a PR, I'll publish a release after!

[2020-11-27 11:01] OliverFischer commented on #421
Thx.

[2020-11-27 11:01] #421 closed

[2020-11-27 11:02] OliverFischer commented on #419
Thx for accepting.

[2020-11-27 11:02] #419 closed

[2020-11-27 11:14] OliverFischer commented on #393
Hi, MultiTenancy is supported by passing a modelFactory in the options when setting up a new model for restify. It's not yet in the documentation, but present since 2018.

We enhanced the functionality by passing the request the the getModel hook :
[code]

A possible (pseudo-code) implementation could look like :
[code]
using something like https://www.npmjs.com/package/mobgoose.

[2021-02-20 15:35] zb140 commented on #414
This was fixed a while back in #415.  Thanks!

[2021-02-20 15:35] #414 closed

[2021-02-24 18:53] OliverFischer opened #424 "Question about mongoose-detective"
Hi @Zertz ,

by updating my project to the actual master npm complains about the peer-dependency in the mongoose-detective subproject.

[code]

Do you plan to update this project or should I really don't care about it :-) ?

[2021-02-25 03:57] Zertz commented on #424
In this case it doesn't matter because it was actually used as a dev dependency. I fixed it in the latest [mongoose-detective](https://github.com/Zertz/mongoose-detective) release and updated other dependencies as well.

Can you submit a PR to upgrade the package in this project?

[2021-02-25 14:44] OliverFischer commented on #424
Sure. Did it.

[2021-04-05 07:01] Rahul-Geeks commented on #283
This solution works with pre-hook but not with post-hook. On passing argument in `.save()`, the post hook does not even get called.
So, do you have any idea about how we can access request object(or any other object) in post hook.

[2021-04-15 09:30] RuneSP opened #427 "Option to use InsertMany when creating array of objects"
Looking through the code, it seems the standard mongoose create method is also used when passing an array of objects.

Would it be possible to add an option to use InsertMany instead when passing an array of objects? InsertMany is faster as it will only send one operation to database instead of one for each document.

https://mongoosejs.com/docs/api/model.html#model_Model.insertMany

Thanks,
Rune

[2021-06-24 07:41] T-vK commented on #276
Thank you, this worked for me. Can you elaborate on the `nested protected and protected fields` topic and what exactly needs to be done in order to get this merged? I'm very interested in having this feature in the official `express-restify-mongoose` repo.

[2021-07-30 08:50] XamNiner opened #431 "Current NPM package (Version 6.1.2) is missing Typescript type definitions"
The **package.json** references the **index.d.ts** file:
`"types": "./index.d.ts",
  "files": [
    "CHANGELOG.md",
    "LICENSE",
    "README.md",
    "index.d.ts",
    "src/"
  ]`
However the file is not included in the node_modules entry after running
`npm install`

[2021-08-23 10:43] OliverFischer commented on #371
Hi, @Zertz : The option `lean : true` does not take any effect in my model. Do you have some more informations why it is not working in combination with express-restify-mongoose?

[2021-08-23 10:49] Zertz commented on #371
This might be a typo but make sure you're setting `lean: false`

[2021-08-23 10:51] OliverFischer commented on #371
@Zertz : Please apologize, of course my code is:
[code]

[2021-08-23 11:52] OliverFischer commented on #371
@Zertz : Sorry again, I think i found it, the error is on our side due to our poor implementation of wrapping json-schema definitions to mongoose schemas and forgetting to pass the options correctly  to erm.

[2021-08-23 17:14] Zertz commented on #371
No worries. Glad you got it fixed!

[2022-02-10 11:49] demilsson opened #432 "Mongoose 6 support"
Would it be rather straight forward to add Mongoose 6 support?
We are currently held back from being able to upgrade our database server to Mongo 5.

Many thanks for a great library!

[2022-02-11 10:36] demilsson commented on #432
@Zertz I'm looking through the tests and most of the new failing tests introduced when using Mongoose 6 is related to error string formatting and in particular that `MongoError` is now called `MongoServerError` instead.

However, there was one test which I couldn't immediately dismiss where a populate command should be ignored and return a 200 status code. In Mongoose 6, trying to populate an unde

[2022-02-11 12:42] Zertz commented on #432
First off, I'm glad the tests caught that!

I'm honestly a bit torn here. I like what Mongoose is doing and it definitely makes sense as it makes it obvious you're trying to populate a field you shouldn't be. However, since we're exposing stuff to arbitrary clients, we should probably avoid implicitly providing too much information about the schema.

So yes, I agree that we should stick to the cur

[2022-02-11 12:47] demilsson commented on #432
Great, thanks for taking a look! I'll work on preparing a PR.

[2022-06-10 10:52] trannel commented on #432
Are there any updates on this, by any chance?

[2022-06-13 10:06] demilsson commented on #432
Unfortunately not. I made a PR but there was a few existing test failures that I didn't want to touch, perhaps that's what holding it up?

[2022-08-10 13:45] StoyanStAtanasov opened #436 "Sorting doc error"
⚠️Warning : The [Docs](https://florianholzapfel.github.io/express-restify-mongoose/) are wrong about how to use sort. Use with 1(acsending), -1(descending) instead with 1,0
![image](https://user-images.githubusercontent.com/49271294/183919171-a1e8ddc2-cf2b-4a4f-8e45-c8fce0696d25.png)

[2022-08-10 13:52] Zertz commented on #436
I can't find a mention to 1/0 being ascending or descending in the [sort documentation](https://florianholzapfel.github.io/express-restify-mongoose/#sort), can you point to the exact place where you're seeing this mistake?

[2022-08-10 13:56] StoyanStAtanasov commented on #436
Thanks for responding so quick! I thought that the project is not maintained :)

In the "Querying" paragraph. I have updated the first post with a photo.

[2022-08-10 14:03] StoyanStAtanasov commented on #436
Made a pull request #437

[2022-08-10 14:29] Zertz commented on #436
Oh, my bad, I misread the issue!

[2022-08-10 16:46] #436 closed

[2022-08-14 17:35] Zertz commented on #432
I merged it and created a followup PR to fix tests and clean up a few things. We should be able to publish a release sometimes soon.

[2022-10-21 12:45] Zertz commented on #432
Oh, I thought it was released. I'll re-open this issue has a reminder and try to get it done this weekend.

[2022-10-21 12:50] #408 closed

[2022-10-21 12:57] Zertz commented on #407
Closing this as the library is not meant to be used with webpack and there are many other bundlers with slightly different opinions. If you need to bundle the library, it should be set up within your bundler's configuration.

[2022-10-21 12:57] #407 closed

[2022-10-21 12:58] #424 closed

[2022-10-21 12:58] Zertz commented on #424
Closed by #425

[2022-10-21 12:59] Zertz commented on #305
This is unlikely to be worked on.

[2022-10-21 12:59] #305 closed

[2022-10-21 13:02] Zertz commented on #325
If this is still a problem, please open a new issue.

[2022-10-21 13:02] #325 closed

[2022-10-21 13:23] Zertz commented on #343
As far as I know, this should be handled by mongoose.

[2022-10-21 13:23] #343 closed

[2022-10-21 13:24] Zertz commented on #391
Closing this as we're about to release support for Mongoose 6.

[2022-10-21 13:24] #391 closed

[2022-10-21 13:25] #390 closed

[2022-10-21 13:47] Zertz commented on #432
Published as 7.0.2

[2022-10-21 13:47] #432 closed

[2022-10-22 01:44] #431 closed

[2022-10-24 02:41] Zertz commented on #427
As far as I can remember, the only reason we don't use `insertMany` is that it didn't exist back then.

[2022-10-24 02:46] Zertz commented on #403
The message `Can't use $toObjectId` comes from MongoDB itself because [`$toObjectId`](https://www.mongodb.com/docs/manual/reference/operator/aggregation/toObjectId/) is an aggregation operator and can't be used in a `find` query.

[2022-10-24 02:46] #403 closed